footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
    height: 5%;
    text-align: center;
    background-color: #008080;
}
a{
    text-decoration: none;
    font-size: 5vmin;
    font-weight: 900;
    color: white;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}