@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
header{    
    word-break: break-all;
    font-family: 'Raleway', 'sans-serif';
    top: 0;
    padding: 10px;
    height: 40px;
    background: white;
    border-bottom: solid 1px rgba(97, 97, 97, 0.7);
    width: 100%;
    justify-content: right;
    position: fixed;
}
#publicar{
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Raleway', 'sans-serif';
    border: solid 1px rgba(97, 97, 97, 0.7);
    color: white;
    background-color: #008080;
    margin-right: 60px;
    font-size: 4vmin;
    font-weight: bold;
    float: right;    
    border-radius: 8px;
    width: 2.5vw;
    max-height: 40px;
    transition: 0.6s;
}
#publicar:hover{
    cursor: pointer;
}
#search{
    float: right;
    font-size: 3vmin;
    font-weight: bold;
    height: 30px;
    margin-right: 10px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border: transparent;
    background-color: #00808080;
} 
#search::placeholder{
    color: white;
}
@keyframes botao{
    0%{
        width: 2.5vw;
    }
    100%{
        color: white;
        width: 10vw;
    }
}