@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
#h1{
    font-family: 'Raleway', 'sans-serif';
    font-size: 5vmin;
    font-weight: bolder;
    color: #008080
}
#publicar{
    border-left: solid 4px #008080;
    align-items: center;
    text-align: center;
    width: 50vw;
    height: max-content;
    margin-left: 25vw;
    margin-top: 10vh;
    padding-left: 1vw;
    padding-right: 1vw;
}
label{
    font-family: 'Raleway', 'sans-serif';
    font-weight: bold;
    display: inline;
    font-size: 3vmin;
}
#local{
    font-family: 'Raleway', 'sans-serif';
    font-size: 3vmin;
    font-weight: bold;
    margin-bottom: 1%;
    height: 3vmin;    
    background: rgba(0, 128, 128, 0.4);
    padding: 0 0.5rem;
    outline: none;
    border: transparent;        
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: white;
}
textarea{
    font-family: 'Raleway', 'sans-serif';
    font-size: 3vmin;
    font-weight: bold;
    resize: none;
    width: 80%;
    height: 50vh;
    margin-bottom: 3%;
    background: rgba(0, 128, 128, 0.4);
    padding: 0 0.5rem;
    outline: none;
    border: transparent;      
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: white; 
}
#enviar{    
    font-family: 'Raleway', 'sans-serif';
    background: #008080;
    cursor: pointer;
    width: 20%;
    border: none;
    height: 5vmin;
    border-radius: 32px;
    color: white;
    font-size: 3vmin;
    font-weight: bold;
}
#cancelar{
    font-family: 'Raleway', 'sans-serif';
    background: #88888883;
    cursor: pointer;
    width: 20%;
    border: none;
    height: 5vmin;
    border-radius: 32px;
    color: white;
    font-size: 3vmin;
    font-weight: bold;
}
#enviar, #cancelar{
    margin-top: 5vh;
}
#editar{
    margin-left: 2%;
    text-align: center;
}
@media(max-width:600px){
    #publicar{
        width: 90vw;
        height: 70vh;
        margin-left: 5vw;
        margin-top: 25vh;
    }
    label, input, textarea, #enviar{        
        font-size: 5vmin;
    }
    input{
        height: 6vmin;
    }
    textarea{
        width: 80%;
    }
}